body{
	margin: 0;
}

.header{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	top:0;
	position:fixed;
	z-index: 10;
	background:#fff;

	.leftcontrol{
		position: absolute;
		left:10px;
		top:0;
		background:none;
		border:none;
		outline:none;
		height: 100%;
		color:#007aff;
		margin: 0;
		padding: 0;
	}

	.rightcontrol{
		position: absolute;
		right:10px;
		top:0;
		background:none;
		border:none;
		outline:none;
		height: 100%;
		color:#007aff;
		margin: 0;
		padding: 0;
	}


	h1{
		margin: 0;
		font-size: 1em;
		height: 40px;
		line-height: 40px;
		width:100%;
		padding:0 60px;
		@include box-sizing('border-box');
		text-align: center;

		a{
			text-decoration: none;
			color: #000;
		}
	}
}

.sidebar{
	width: 30%;
	height: 100%;
	float: left;
	position:fixed;

	@media screen and (max-width: 640px) {
		width: 100%;
	}

	.header{
		width: 30%;
		left:0;
		float: left;

		@media screen and (max-width: 640px) {
			width: 100%;
		}
	}
}

.main{
	width: 70%;
	height: 100%;
	position:fixed;
	right:0;
	float: left;
	overflow: hidden;
	background:#fff;

	overflow:scroll;

	@media screen and (max-width: 640px) {
			width: 100%;
	}

	.header{
		width: 70%;
		right:0;

		@media screen and (max-width: 640px) {
			width: 100%;
		}
	}
}
