.loader{
	position:absolute;
	top:41px;
	width: 100%;
	text-align: left;
	margin: 0px;
	line-height: 1;
	height:70px;
	padding:0 10px 0px 45px;

	background: url('../images/arrowdown.png') no-repeat #333 10px 10px;


	&.reload{
		background: url('../images/loader.gif') no-repeat #333 10px 10px;
	}

	@include box-sizing('border-box');

	span.loadermessage{
		font-size: 12px;
		font-weight: bold;
		display: block;
		color:#fff;
		margin: 10px 0 3px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
		width: 100%;
	}

	span.updatedat{
		font-size: 10px;
		display: block;
		color: #ccc;
		margin: 3px 0;
	}
}

.conversationsscroller{
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
	background:#333;
    margin-top: 41px;

    position:relative;
}

.conversationslist{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	overflow: hidden;
	float: left;
	background:#fff;
	min-height:300px;

	li{
		border-bottom: 1px solid #ccc;
		position: relative;
		@include box-sizing('border-box');
		float: left;
		width: 100%;
		background:#fff;


		.deletebtn{
			position: absolute;
			right:-100px;
			height:40px;
			width: 100px;
			background:#cc0000;
			width: 100px;
			background:#cc0000;
			text-align: center;
			line-height: 40px;
			color:#fff;
			cursor: pointer;
			top:50%;
			margin-top: -20px;

			@include transition-property(right);
			@include transition-duration(.2s);
		}

		&.showdelete{
			.deletebtn{
				position: absolute;
				right:0px;
			}
		}

		.confirmdeletebtn{
			margin-left:-50px;
			@include transition-property(margin, opacity);
			@include transition-duration(.2s);
			position: absolute;
			left:0;
			height: 100%;
			width: 40px;
			display: block;
			background: url('../images/delete.png') no-repeat center center;
			background-size: 50%;
			opacity:0;
		}

		&.showdeleteconfirm{

			.confirmdeletebtn{
				margin-left: 0;
				opacity: 1;
			}

			a{
				padding: 10px 10px 10px 50px;
			}
		}

		a{
			padding: 10px 50px 10px 10px;
			width: 100%;
			color: #000;
			text-decoration: none;
			display: block;
			float: right;
			@include box-sizing('border-box');

			@include transition-property(padding);
			@include transition-duration(.2s);

			&.active{
				background:#e5e5ea;
			}

		}

		&.noconversation{
			padding: 10px 50px 10px 10px;
			width: 100%;
			color: #000;
			text-decoration: none;
			display: block;
			float: right;
			@include box-sizing('border-box');
		}


		.username{
			text-decoration: none;
			margin:0;
		}

		.body{
			font-size: .75em;
			margin: 0;
			color: #999;
		}

		.date{
			position: absolute;
			right:10px;
			top:10px;
			font-size: .70em;
			margin: 0;
			color: #999;
		}

	}
}

