.loginform{
	margin-top: -150px;
	margin-left: -150px;
	height: 300px;
	width: 300px;
	position: absolute;
	left:50%;
	top:50%;


	h1{
		text-align: center;
		font-family: 'Kaushan Script', cursive;
		font-size: 42px;
	}

	input{
		width: 100%;
		@include box-sizing(border-box);
		@include border-radius(3px);
		height:40px;
		padding: 0 20px;
		margin:0 0 10px;
		border:1px solid #ccc;
		outline:none;
	}

	button{
		@include border-radius(3px);
		@include box-sizing(border-box);
		border:none;
		background:#2A9EFD;
		width: 100%;
		height: 40px;
		outline:none;
		color:#fff;
		font-weight: bold;
	}

}

div.alert{
	width: 100%;
	padding: 3px 10px;
	background:#cc0000;
	width: 100%;
	@include box-sizing(border-box);
	color: #fff;
	font-size:12px;
	margin: 0 0 10px;
	@include border-radius(3px);
}