.messageform{
	clear: both;
	width: 70%;
	position: fixed;
	z-index: 99;
	background:#e5e5ea;
	display: block;
	bottom:0;
	padding: 10px 90px 10px 10px;
	@include box-sizing('border-box');

	@media screen and (max-width: 640px) {
		width: 100%;
	}



	textarea{
		border:1px solid #ccc;
		padding: 10px;
		width: 100%;
		@include box-sizing('border-box');
		resize: none;
	}

	button{
		right:10px;
		position:absolute;
		top:0px;
		width: 70px;
		height: 100%;
		@include box-sizing('border-box');
		border:none;
		background:none;
		font-weight: bold;
		outline:none;
	}

}