.userslist{
	padding: 0 0 0 0px;
	margin: 41px 0 0;
	width: 100%;
	list-style: none;

	li{
		border-bottom: 1px solid #ccc;
		position: relative;
		@include box-sizing('border-box');
		float: left;
		width: 100%;

		a{
			padding: 10px 50px 10px 10px;
			width: 100%;
			color: #000;
			text-decoration: none;
			display: block;
			float: right;
			@include box-sizing('border-box');

			@include transition-property(padding);
			@include transition-duration(.2s);

			&.active{
				background:#e5e5ea;
			}

			.username{
				text-decoration: none;
				margin:0;
				display: block;
			}

			.email{
				font-size: .75em;
				margin: 0;
				color: #999;
			}
		}

	}
}

